@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Outfit:wght@100..900&display=swap');

body {overflow-x: hidden;}

*{
    padding:0px;
    margin: 0px;
}

/*Dark mode

.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode header, .dark-mode footer {
    background-color: #1e1e1e;
}

.dark-mode nav a {
    color: white;
}

.dark-mode #menuderoulant {
    background-color: #2a2a2a;
}

fin Dark mode*/

h1 {
    font-family: 'Instrument Serif';
    font-weight: lighter;

}

.presentation h1 {
    font-family: 'Instrument Serif';
    font-weight: lighter;
    font-size: 56px;

}


h2 {
    font-family: 'Instrument Serif';
    font-weight: lighter;
    font-size: 32px;
}

p {
    font-family: 'Outfit';
    font-weight: lighter;
    font-size: 24px;
}

header {
    width: 100%;
    padding: 0%;
    margin: 0%;
}
nav {
    font-family: 'Outfit';
    display: block;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


nav a {
    text-decoration: none;
    color: black;
    margin: 10px;

}

nav a:hover {
    text-decoration: underline;
    color: black;
}

#menuderoulant a {
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 24px;
    font-family: 'Outfit';

}

#menuderoulant:hover {
    text-decoration: underline;
    color: black;
}

nav a:hover {
    text-decoration: underline;
    color: black;
}

header button {
    border: 0;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 24px;
}


header button:hover {
    text-decoration: underline;
    color: black;
}

header select {
    font-family: 'Outfit';
    border: 0px;
    appearance: none;
    font-size: 24px;
    margin: 10px;
}

.divheader {
    display: flex;
    justify-content: space-between;
}
.divheader button{
    padding-left: 6px;
    padding-right: 6px;
}

.titre {
    margin-left: 10px;
    font-size: 2em;
    margin: 21.440px;
    margin-left: 10px;
}

.logonom {
    margin: 8px;
    display: flex;
}

hr {
    border-color: black;
    border-width: 1px;
}


#menuderoulant {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    pointer-events: none;
    background-color: white;
    z-index: 1;
}

button img {
    width: 15px;
    height: 15px;
}




.imagemusee {
    position: relative;
    text-align: center;
    color: white;
    max-width: 100%;
}


.titrebienvenue {
    position: absolute;
    top: 8px;
    left: 40px;
    margin-left: 70px;
    font-size: 56px;
}

.soustitrebienvenue {
    position: absolute;
    top: 100px;
    left: 40px;
    margin-left: 70px;
    font-size: 32px;
}

.presentation {
    margin-right: 144px;
    margin-left: 144px;
}

.presentation h1{
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
.presentation h2{
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
.presentation p{
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.carre {
    width: 812px;
    height: 570px;
    overflow: hidden;
    white-space: normal;
    text-align: left;
    line-height: 1.5;
}

.fondexpos {
    background-color: #F2F2F2;
    margin: 0;
}


.expos h1 {
    font-family: 'Instrument Serif';
    font-weight: lighter;
    font-size: 56px;
}

.expos {
    margin-right: 144px;
    margin-left: 144px;
}

.cards {
    display: flex;
    justify-content: space-around;

}

.card {
    display: grid;
    grid-template-rows: max-content 300px 1fr;
}

.card img {
    width: 405px;
    height: 714px;
    position: relative;
}

.content {
    position: relative;
}

.content h2 {
    position: absolute;
    font-size: 32px;
    font-family: 'Outfit';
    color: white;
    top: 50%;
    margin-left: 25px;
}

.content h1 {
    font-size: 32px;
    font-family: 'Instrument Serif';
    color: white;
    margin-left: 25px;
    font-weight: lighter;
    position: absolute;
    bottom: 25%;
}

.button-container {
    display: flex;
    justify-content: center;
}


#billet {
    font-size: 32px;
    font-family: 'Outfit';
    background-color: #FFF5D8;
    font-weight: lighter;
    position: absolute;
    bottom: 15%;
    border: none;
    width: 357px;
    height: 62px;
    text-align: left;
}

a {
    text-decoration-line: none;
}


.button-container2 {
    display: flex;
    justify-content: center;
}

.button-container2 button {
    font-size: 32px;
    font-family: 'Outfit';
    color: white;
    background-color: #fff5d800;
    font-weight: lighter;
    position: absolute;
    bottom: 5%;
    border: 3px solid #000;
    border-color: #FFF5D8;
    width: 357px;
    height: 62px;
    text-align: left;
}

.card2 {
    display: grid;
    grid-template-rows: max-content 300px 1fr;
}

.card2 img {
    width: 405px;
    height: 714px;
    position: relative;
}

.content2 {
    position: relative;
}

.content h1{
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
}

.content2 h2 {
    position: absolute;
    font-size: 32px;
    font-family: 'Outfit';
    color: white;
    top: 50%;
    margin-left: 25px;



}

.content2 h1 {
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    font-size: 32px;
    font-family: 'Instrument Serif';
    color: white;
    margin-left: 25px;
    font-weight: lighter;
    position: absolute;
    bottom: 25%;

}

button img {
    width: 15px;
    height: 15px;
}

.button-container3 {
    display: flex;
    justify-content: center;
}


#billet2 {
    font-size: 32px;
    font-family: 'Outfit';
    background-color: #FFF5D8;
    font-weight: lighter;
    position: absolute;
    bottom: 15%;
    border: none;
    width: 357px;
    height: 62px;
    text-align: left;
}

.button-container4 {
    display: flex;
    justify-content: center;
}

.button-container4 button {
    font-size: 32px;
    font-family: 'Outfit';
    color: white;
    background-color: #fff5d800;
    font-weight: lighter;
    position: absolute;
    bottom: 5%;
    border: 3px solid #000;
    border-color: #FFF5D8;
    width: 357px;
    height: 62px;
    text-align: left;
}

.button-container4 button:hover {
    background-color: #F3CA3D;
    color: black;
    border-color: #F3CA3D;
}

.button-container2 button:hover {
    background-color: #F3CA3D;
    color: black;
    border-color: #F3CA3D;
}

.button-container3 button:hover {
    background-color: #F3CA3D;
    color: black;
    border-color: #F3CA3D;
}

#billet:hover {
    background-color: #F3CA3D;
    color: black;
    border-color: #F3CA3D;
}

#billet2:hover {
    background-color: #F3CA3D;
    color: black;
    border-color: #F3CA3D;
}

.horairesinfos {
    display: flex;
    justify-content: center;

}

.horaires h1 {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-family: 'Instrument Serif';
    font-weight: lighter;
    font-size: 56px;
    margin-left: 144px;
}

.horaires h2 {
    font-family: 'Outfit';
    font-weight: lighter;
    font-size: 24px;
    margin-left: 64px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.horaires {
    background-color: #ffffff;
    width: 608px;
    height: 565px;
}

.infospratiques h1 {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-family: 'Instrument_Serif';
    font-weight: lighter;
    font-size: 56px;
    margin-left: 64px;
}

.infospratiques h2 {
    font-family: 'Outfit';
    font-weight: lighter;
    font-size: 24px;
    margin-left: 64px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.infospratiques {
    background-color: #FFDB78;
    width: 608px;
    height: 565px;
}

footer {
    background-color: #281E32;
    text-align: center;
    padding: 35px;
    box-sizing: border-box;
    width: 100%;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

footer ul li {
    display: inline;
    margin: 0 32px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    font-family: outfit;
}

footer a:hover {
    text-decoration: underline;
}

#Infos_tarifs {
    display: flex;
    flex-direction: column;
    width: calc(100% - 288px);
    margin-left: 144px;
    gap: 10px;
}

#Infos_tarifs div {
    justify-content: center;
    display: flex;
    gap: 10px;
}

#Infos_tarifs section {
    background-color: #ffffff;
    text-align: left;
}

.tarifstitre {
    font-family: 'Instrument Serif';
    font-size: 56px;
}

#reserver h3 {
    font-family: 'Outfit';
    font-size: 32px;
}

.prix {
    font-size: 32px;
    font-weight: bold;
    margin: 10px;
}

.titreprix {
    margin: 10px;
}

#tarifplein {
    width: 195px;
    height: 100px;
}

#tarifreduit {
    width: 195px;
    height: 100px;
}

#billetcouple {
    width: 436px;
    height: 100px;
}

#etudiant {
    width: 322px;
    height: 100px;
}

#tarif618ans {
    width: 195px;
    height: 100px;
}


#reserver {
    background-color: #FFF5D8;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0px;
    margin: 0;
}

#le_haut h1 {
    margin: 0;
}

#le_haut {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
        url("images/grois_oiseau.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 84px 0 0 144px;
    text-align: left;
    height: 80vh;
    box-sizing: border-box;
}

#gallery {
    background-color: #514151;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 144px;
    padding-right: 144px;
    padding-top: 56px;
    padding-bottom: 56px;
    box-sizing: border-box;
    overflow: hidden;
    gap: 20px;
}

#gallery img {
    height: auto;
    margin: 0 auto;
    display: block;
    width: 350px;
}

.fit-picture {
    width: 150px;
}

.styled {
    border: 0;
    font-size: 24px;
    padding: 24px 40px;
    text-align: center;
    color: #000000;
    background-color: #FFDB78;
    margin: 32px;
}

.styled:hover {
    background-color: #FECA3D;
}

/* SECTION RÉSERVÉE Pour les petites résolutions d'écran genre une fenetre a la verticale, un écran tourné, ou un téléphone vertical comme une iPhone 42 pro max ultra */
@media (max-width: 1024px) {
    .horairesinfos {
        flex-direction: column;
    }
    #langue {
        display: none ;
    }

    header nav {
        display: none;
    }

    #listedesexpo {
        max-width: 90%;
    }

    .fondexpos {
        overflow-x : hidden
    }

    .horairesinfos div {
        width: 100%;  
        margin: 10px 0;
    }
}
@media (max-width: 768px) {
    .horairesinfos div {
        width: 100%;
        margin : 10px 0px;  
    }
}
@media (max-width: 768px) {
    .horairesinfos div {
        width: 100%; 
        margin: 10px 0;
    }
}

@media (max-width: 1024px) {
    .fondmenu {
        width: 100%;
        margin : 10px 0;

    }
}

@media (max-width: 1024px) {
    .titrebienvenue {
        width: 0%;
        margin : 10px 0;
        font-size: 0;

    }
}

@media (max-width: 1024px) {
    .soustitrebienvenue {
        width: 0%;
        margin : 10px 0;
        font-size: 0;

    }
}
@media (max-width: 1024px) {
    .presentation {
        width: auto;
        margin-right: 24px;
        margin-left: 24px;
    }
}

@media (max-width: 1024px) {
    .presentation h1 {
        width: 100%;
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .presentation h2 {
        width: 100%;
        font-size: 16px;
        font-family: 'Outfit';
        font-weight: bold;
    }
}

@media (max-width: 1024px) {
    .presentation p {
        width: 100%;
        font-size: 0;
        font-family: 'Outfit';
    }
}

@media (max-width: 1024px) {
    .presentation .mobtext {
        width: 100%;
        font-size: 16px;
        font-family: 'Outfit';
    }
}

@media (min-width: 1024px) {
    .presentation p {
        width: 100%;
        font-size: 24px;
        font-family: 'Outfit';
    }
}

@media (min-width: 1024px) {
    .presentation .mobtext {
        width: 100%;
        font-size: 16px;
        font-family: 'Outfit';
        display:none;
    }
}

@media (max-width: 1024px) {
    .carre {
        width: auto;
        height: auto;
    }
}

@media (max-width: 1024px) {
    .fondexpos {
        width: auto;
        height: auto;
        
    }
}

@media (max-width: 1024px) {
    .expos h1 {
        width: 100%;
        padding-top: 24px;
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .expos {
        width: 100%;
        margin-right: 24px;
        margin-left: 24px;
        
    }
}

@media (max-width: 1024px) {
    .cards {
        width: auto;
        flex-direction: column;
        gap: 24px;
    }
}

@media (max-width: 1024px) {
    .card {
        width: 200px;
        grid-template-rows: max-content 0px 1fr;
    }
}
@media (max-width: 1024px) {
    .card img {
        width: 300px;
        height: 638px;
    }
}

@media (max-width: 1024px) {
    .content h2 {
        font-size: 24px;
    }
    .content h1 {
        font-size: 24px;
    }
    .content2 h2 {
        font-size: 24px;
    }
    .content2 h1 {
        font-size: 24px;
    }
}
@media (max-width: 1024px) {
    #billet {
        width: 194px;
        height: 52px;
    }
}

@media (max-width: 1024px) {
    #billet span{
        width: 194px;
        height: 52px;
        font-size: 16px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    #infoexpo {
        width: 194px;
        height: 52px;
    }
}

@media (max-width: 1024px) {
    #infoexpo span {
        font-size: 16px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .card2 {
        width: 200px;
        grid-template-rows: max-content 170px 1fr;
    }
}
@media (max-width: 1024px) {
    .card2 img {
        width: 300px;
        height: 638px;
    }
}
@media (max-width: 1024px) {
    #billet2 {
        width: 194px;
        height: 52px;
    }
}

@media (max-width: 1024px) {
    #billet2 span{
        width: 194px;
        height: 52px;
        font-size: 16px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    #infoexpo2 {
        width: 194px;
        height: 52px;
    }
}

@media (max-width: 1024px) {
    #infoexpo2 span {
        font-size: 16px;
        display: flex;
        justify-content: center;
    }
}


@media (max-width: 1024px) {
    .tarifstitre {
        font-size: 24px;
    }
    #reserver h3{
        font-size: 16px;
    }
    #reserver div{
        flex-direction: column;
        justify-content: center;
    }
    #Infos_tarifs{
        margin-left: 0px;
        width: 272px;
    }
    .titreprix{
        font-size: 16px;
    }
    .prix{
        font-size: 20px;
    }
    #tarifplein{
        width: 272px;
        height: 73px;
    }
    #billetcouple{
        width: 272px;
        height: 73px;
    }
    #tarifreduit{
        width: 272px;
        height: 73px;
    }
    #etudiant{
        width: 272px;
        height: 73px;
    }
    #tarif618ans{
        width: 272px;
        height: 73px;
    }
}


@media (max-width: 1024px) {
    .horaires{
        height: 327px;
    }
    .horaires h1{
        font-size: 24px;
    }
    .horaires h2{
        font-size: 16px;
    }
    .infospratiques{
        height: 461px;
    }
    .infospratiques h1{
        font-size: 24px;
        margin-left: 24px;
    }
    .infospratiques h2{
        margin: 24px;
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .menutel  {
        display: flex;
    }
    #burger{
        width: 50px;
        height: 50px;
        background-color: #FFF5D8;
    }
}

/* fin de la section reservée pour les petis ecran (encore plus petits que Hélène) */
@media (min-width: 1024px){
.menutel{
    display: none;
    justify-content: center;
    align-items: center;   
}
}
[popover]{
left: 46px;
top: 25%;
height: 150px;
width: 300px;
opacity: 0;
pointer-events: none;
border-color: #F3CA3D;
border-width: 5px;
}

:popover-open {
    pointer-events: auto;
    opacity: 1;
}

.telnavig {
    display: flex;
    flex-direction: column;
}

