@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Outfit:wght@100..900&display=swap');

* { /* pour enlever les trucs par défaut du navigateur */
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}
#date {
    margin-left: 0px;
    font-family: outfit;
    font-size: 24px;

}


h1 {
    font-family: 'Instrument Serif';
    font-size: 56px;
    margin-bottom: 50px;
}

h2 {
    font-family: 'Instrument Serif';
    font-size: 32px;
    margin-left: 0px;
}

h3 {
    font-family: Outfit;
    font-size: 32px;
    margin-bottom: 70px;
    margin-left: 0px;
}

p {
    margin-left: 0px;
    margin-right: 0px;
    font-family: outfit;
    font-size: 24px;
}

/* Section RÉSERVÉE au HEADER*/
header{
    margin: 8px;
}
nav {
    font-family: 'Outfit';
    display: block;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


nav a {
    text-decoration: none;
    color: black;
    margin: 10px;

}

nav a:hover {
    text-decoration: underline;
    color: black;
}



#menuderoulant a {
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 24px;
    font-family: 'Outfit';

}

#menuderoulant:hover {
    text-decoration: underline;
    color: black;
}

nav a:hover {
    text-decoration: underline;
    color: black;
}

header button {
    border: 0;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 24px;
}


header button:hover {
    text-decoration: underline;
    color: black;
}

header select {
    font-family: 'Outfit';
    border: 0px;
    appearance: none;
    font-size: 24px;
    margin: 10px;
}

.divheader {
    display: flex;
    justify-content: space-between;
}
.divheader button{
    padding-left: 6px;
    padding-right: 6px;
}

.titre {
    margin-left: 10px;
    font-size: 2em;
    margin: 21.440px;
    margin-left: 10px;
}

.logonom {
    margin: 8px;
    display: flex;
}

hr {
    border-color: black;
    border-width: 1px;
}


#menuderoulant {
    transition: opacity 0.3s ease-in-out;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    pointer-events: none;
    background-color: white;
    z-index: 1;
}

#menuderoulant.show {
    opacity: 1;
    pointer-events: all;
}


button img {
    width: 15px;
    height: 15px;
}


/* FIN de la section RÉSERVÉE au HEADER*/

#reserver {
    background-color: #FFF5D8;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0px;
    margin: 0;
    padding: 144px;
}

#le_haut h1 {
    margin: 0;
}

#le_haut {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    url("images/grois_oiseau.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 84px 0 0 144px;
    text-align: left;
    height: 80vh;
    box-sizing: border-box;
}

#gallery {
    background-color : #514151;
    display: flex; 
    justify-content: center; 
    width: 100%; 
    padding-left: 144px; 
    padding-right: 144px;
    padding-top : 56px ;
    padding-bottom : 56px ;
    box-sizing: border-box;
    overflow: hidden; 
    gap: 20px; 
}

#gallery img {
    width: 100%;
    max-width: 300px;
    height: auto;
}


.fit-picture {
    width: 150px;
}

#Infos_tarifs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#Infos_tarifs section {
    background-color: #ffffff;
    border: none;
    padding: 40px;
    text-align: center;
    box-sizing: border-box; 
    flex: 1 1 300px; 
    max-width: 400px; 
}
    #description{ 
        padding: 100px 300px 200px 144px;
    }

/* SECTION RÉSERVÉE Pour les petites résolutions d'écran genre une fenetre a la verticale, un écran tourné, ou un téléphone vertical comme une iPhone 42 pro max ultra */
@media (max-width: 1024px) {
    #reserver {
        margin: 0%;
        padding: 0%;
    }
    #Infos_tarifs {
        flex-direction: column;
    }
    #description p, h1, h2, h3{
        margin : 0;
        padding: 0;
    }
    #description {
        margin-top: 5%;
        width: 90%;
        margin-left: 5%;
        padding:0;
        padding-bottom: 50px;
    }
    #date {
        padding-top: 10%;
        margin-left: 5%;
    }
    h1#titre_expo {
        margin: 5%;
    }
    h2#auteur {
        margin : 5% ;
    }
    p {
        font-weight: 16px;
    }
    h2, h3 {
        font-weight: 24px;
    }
    h1{
        font-weight: 2Opx;
    }
    img {
        max-width: 90%;
    }
    #le_haut {
        width: 100%;
        margin: 0;
        padding : 0;
    }
    header {
        width: 100%;
        padding: 0%;
        margin: 0%;
    }
    #langue {
        display: none ;
    }

    header nav {
        display: none;
    }

    #Infos_tarifs section {
        width: 100%;  
        margin: 10px 0;
    }
    #gallery {
        width: 100%;
        flex-direction: column;
        padding: 10% ;
    }

}
@media (max-width: 768px) {
    #Infos_tarifs section {
        width: 100%;
        margin : 10px 0px;  
    }
}
@media (max-width: 768px) {
    #Infos_tarifs section {
        width: 100%; 
        margin: 10px 0;
    }
    p, h1, h2, h3 {
        margin-left: 16px;
        margin-right: 16px;
    }
}
/* fin de la section reservée pour les petis ecran (encore plus petits que Hélène et oauis, c'est possible) */

.styled {
    border: 0;
    font-size: 24px;
    padding: 24px 40px;
    text-align: center;
    color: #000000;
    background-color: #FFDB78;
    margin: 32px;
}

.styled:hover {
    background-color: #FECA3D;
}

footer {
    background-color: #281E32;
    text-align: center;
    padding: 35px;
    box-sizing: border-box;
    width: 100%;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

footer ul li {
    display: inline;
    margin: 0 32px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    font-family: outfit;
}

footer a:hover {
    text-decoration: underline;
}

@media (min-width: 1024px){
    .menutel{
        display: none;
        justify-content: center;
        align-items: center;   
    }
    }
    [popover]{
    left: 46px;
    top: 25%;
    height: 150px;
    width: 300px;
    opacity: 0;
    pointer-events: none;
    border-color: #F3CA3D;
    border-width: 5px;
    }
    
    :popover-open {
        pointer-events: auto;
        opacity: 1;
    }
    
    .telnavig {
        display: flex;
        flex-direction: column;
    }

    
@media (max-width: 1024px) {
    .menutel  {
        display: flex;
    }
    #burger{
        width: 50px;
        height: 50px;
        background-color: #FFF5D8;
    }
}